// Цвета из твоего сайта
$primary-color: #698d69;
$secondary-color: #f7e0b7;
$accent-color: darkorange;
$text-color: #414a42;
$text-light: #718096;
$background-color: #F7E0B7;
$white: #ffffff;
$black: #000000;

// Остальные переменные оставляем как были...
